@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

body {
    background: url("images/ball.jfif") top center repeat-y;
    background-size: cover;
    background-position:50% 50%;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    color: rgb(83, 58, 247);
    overflow-x: hidden;
    padding-bottom: 50px;
    margin-top: 40px;
    font-family:"Fuggles";
  }
  
  #navbar {
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }
  #navbar ul {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  #navbar ul li {
    list-style: none;
  }

  #navbar ul li a {
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(245, 134, 49);
    font-size: 2rem;
    text-decoration: none;
    padding: 1em;
    white-space: nowrap;
    letter-spacing: 1px;
  }
  #navbar ul li a:hover {
    border-bottom: 3px solid rgb(14, 13, 13);
  }
  
  .intro {
    padding: 100px 0;
    color:rgb(253, 4, 4)
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }

  
  h1 {
    font-size: 5rem;
  }
  .timeline{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
  }
  .timeline ul {
    list-style-type:none;
    padding: 50px 0;
  }
  .timeline ul li
  {
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgb(8, 8, 8);
  }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #70f701;
  }
  .timeline ul li:nth-child(odd) div {
    left: 45px;
    transform: translate3d(200px, 0, 0);
  }
  .timeline ul li:nth-child(even) div {
    left: -439px;
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li div
  {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
  .timeline ul li.in-view div
  {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  time
  {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  